.avatar {
    height: 30vh;
    width: 30vh;
    border-radius: 3vh;
}

.user-info {
    height: 30vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}

.registration {
    display: flex;
    align-items: center;
    gap: 1.5vh;
}

.sidebar {
    height: auto;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.add-twitt {
    padding: 25px;
    border-style: groove;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.16);
    height: 15vh;
    display: flex;
    flex-direction: row;
    box-shadow: 16px 16px 20px 7px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    width: 75vh;
    margin-top: -60px;
    margin-left: 10px;
}

.input_twitt {
    outline: none;
    border-style: none;
    width: 90%;
    word-wrap: break-word;
    resize: none;
}

.add-btn {
    place-self: center;
    margin-top: 120px;
    cursor: pointer;
    height: 5vh;
    color: black;
    font-size: 1.2rem;
    background-color: #ffffff40;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    width: 15vh;
}

.edit-btn {
    cursor: pointer;
    margin-bottom: 5vh;
    min-width: 20vh;
    width: auto;
    max-width: 30vh;
    height: 5vh;
    color: black;
    font-size: 1.2rem;
    background-color: #ffffff54;
    border-radius: 20px;
    border-style: none;
    box-shadow: 20px 16px 20px 3px rgba(0, 0, 0, 0.1);
}

.user-balance-account {
    display: flex;
    background: #ffffff00;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding: 18px;
    color: #06172b;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

